body{
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
    "my-header"
    "my-main"
    "my-footer";
}
header{
    grid-area: my-header;
}
main{
    grid-area: my-main;
}
footer{
    grid-area: my-footer;
}
.size-card{
    width: 18rem;
}
#inicio, #categorias, #inscribete{
    scroll-margin-top:100px ;
}
.animation-card{
    transition: transform 0.3s ease-in-out;
}
.animation-card:hover{
    transform: scale(1.1);
    cursor: pointer;
}